.card {
    border: $card-border-width-custom;
    box-shadow: $card-shadow;
}

.card-header{
    background-color: $card-cap-bg-custom !important;
    font-weight: bold;
    font-size: $card-header-font-size;
}