<div class="container">
    <div class="row my-3">
        <div class="col-md-12">
            <form [formGroup]="userForm" (ngSubmit)="addEditUser()">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input class="form-control" type="text" maxlength="70" formControlName="name" placeholder="Name">
                    </div>
                    <div class="col-md-4 form-group">
                        <input class="form-control" type="text" maxlength="70" formControlName="username" placeholder="Username">
                    </div>
                    <div class="col-md-4 form-group">
                        <input class="form-control" type="text" maxlength="70" formControlName="email" placeholder="Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input class="form-control" type="text" maxlength="70" formControlName="street" placeholder="Street">
                    </div>
                    <div class="col-md-4 form-group">
                        <input class="form-control" type="text" maxlength="70" formControlName="suite" placeholder="Suite">
                    </div>
                    <div class="col-md-4 form-group">
                        <input class="form-control" type="text" maxlength="70" formControlName="city" placeholder="City">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input class="form-control" type="text" maxlength="70" formControlName="zip_code" placeholder="Zip Code">
                    </div>
                    <div class="col-md-4 form-group">
                        <input class="form-control" type="text" maxlength="70" formControlName="phone" placeholder="Phone">
                    </div>
                    <div class="col-md-4 form-group">
                        <input class="form-control" type="text" maxlength="70" formControlName="website" placeholder="Website">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input class="form-control" type="text" maxlength="70" formControlName="company_name" placeholder="Company">
                    </div>
                    <div class="col-md-6 form-group">
                        <input class="form-control" type="text" maxlength="70" formControlName="company_phrase" placeholder="Company Phrase">
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid"><span *ngIf="!isEditMode">Add</span> <span *ngIf="isEditMode">Save</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
