@import './../user-manager.component.scss';
.user-list-card {
    .card-body {
        padding: 0;
        .user-row {
            display: flex;
            align-items: center;
            padding: 0.725rem 1.25rem;
            cursor: pointer;
            span{
                margin-left: 2%;
            }
            &:hover{
                background-color: $card-hover-bg;
            }
        }
    }
}