<div class="card user-list-card h-100">
    <div class="card-header d-flex justify-content-between">
        <div>Users List</div>
        <button type="button" class="btn btn-primary" (click)="goToAddUser()"><i class="fa fa-plus"></i> Add</button>
    </div>
    <div class="card-body">
        <ng-container *ngIf="(userData && userData.length)>0">
            <div class="user-row" *ngFor="let user of userData" (click)="getUserDetails(user.id)">
                <img src="./../../../../../assets/img/brand/user.svg" alt="User Icon">  
                <span>{{user.name}}</span>
            </div>
        </ng-container>
        <ng-container *ngIf="(userData && userData.lenght === 0) || !userData">
            <div class="p-3 d-flex justify-content-center">
                <div>No user available</div>
            </div>
        </ng-container>     
    </div>
</div>