<div class="container">
    <div class="row my-3">
        <div class="col-md-4">
            <app-users-list [userData]="userData" (sendSelectedUserId)="getSelectedUserDetails($event)"></app-users-list>
        </div>
        <div class="col-md-8">
            <app-user-details [selectedUser]="selectedUser"></app-user-details>
        </div>
    </div>
</div>

