<div class="card h-100">
    <div class="card-header d-flex justify-content-between">
        <div>Details for user <span *ngIf="selectedUser">: {{selectedUser.name}}</span></div>
        <div class="d-flex">
          <button *ngIf="selectedUser" type="button" class="btn btn-primary" (click)="goToEditUser()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
          <button *ngIf="selectedUser" type="button" class="btn btn-primary ml-2" (click)="openModal(template)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
        </div>
    </div>
    <div class="card-body d-flex justify-content-center align-items-center">
        <div class="table-responsive" *ngIf="selectedUser">
            <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Id</th>
                    <td>{{(selectedUser.id) ? selectedUser.id : 'NA'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Name</th>
                    <td>{{(selectedUser.name) ? selectedUser.name : 'NA'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Username</th>
                    <td>{{(selectedUser.username) ? selectedUser.username : 'NA'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Email Id</th>
                    <td><a href="mailto:{{selectedUser.email}}">{{(selectedUser.email) ? selectedUser.email : 'NA'}}</a></td>
                  </tr>
                  <tr>
                    <th scope="row">Address</th>
                    <ng-container *ngIf="selectedUser.address">
                        <td>{{selectedUser.address.suite ? selectedUser.address.suite : 'NA'}}, {{selectedUser.address.street ? selectedUser.address.street : 'NA'}}, {{selectedUser.address.city ? selectedUser.address.city : 'NA'}}, {{selectedUser.address.zipcode ? selectedUser.address.zipcode : 'NA'}}</td>
                    </ng-container>
                  </tr>
                  <tr>
                    <th scope="row">Phone</th>
                    <td>{{(selectedUser.phone) ? selectedUser.phone : 'NA'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Website</th>
                    <td><a href="http://{{selectedUser.website}}" target="_blank">{{(selectedUser.website) ? selectedUser.website : 'NA'}}</a></td>
                  </tr>
                  <tr>
                    <th scope="row">Company</th>
                    <ng-container *ngIf="(selectedUser && selectedUser.company)">
                        <td>{{selectedUser.company.name ? selectedUser.company.name : 'NA'}} : <i>{{selectedUser.company.catchPhrase ? selectedUser.company.catchPhrase : 'NA'}}</i></td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
        </div>
        <div *ngIf="!selectedUser">Please select a user</div>
    </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Do you want to delete this user ?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>This user will be removed from the system</div>
    <div class="d-flex justify-content-end mt-2">
      <button type="button" class="btn btn-outline-secondary" (click)="cancelDeletion()">Cancel</button>
      <button type="button" class="btn btn-outline-danger ml-2" (click)="deleteUser()">Delete</button>
    </div>
  </div>
</ng-template>