@import "./variable";

// Components
@import "./../scss/components/navbar";
@import "./../scss/components/card";
@import "./../scss//components/button";
@import "./../scss//components//modal";

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Font Family */
html, body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 	0.875rem;
}

body {
    background-color: $container-bg !important;
}

.covid-box-shadow{
    box-shadow: 0 2px 10px 0 $box-shadow-color !important;
}

.color-primary{
    color: $primary;
}

.container-bg{
    background-color: $container-bg;
}

// Font sizes
.font-42{
    font-size: 2.125rem;
  }
  .font-40{
    font-size: 	2rem
  }
  .font-28{
    font-size: 	1.75rem
  }
  .font-27{
    font-size: 	1.6875rem
  }
  .font-25{
    font-size: 1.50rem;
  }
  .font-18{
    font-size: 1.125rem
  }
  .font-22{
    font-size: 1.375rem
  }
  .font-20{
    font-size: 1.25rem
  }
  .font-16{
    font-size: 	1rem;
  }
  .font-14{
    font-size: 	0.875rem;
  }
  .font-13{
    font-size: 	0.8125rem;
  }
  .font-12{
    font-size: 	0.75rem !important;
  }
  .font-10{
    font-size: 	0.625rem !important;
  }
  .font-6{
    font-size: 6px;
  }
  .font-24{
    font-size: 1.5rem;
  }

  .primary-color{
      color: $primary;
  }
  .red-color {
      color: $red;
  }
  .green-color {
    color: $green;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .h-100 { 
    height:100%
  }

  .w-100{
    width: 100%;
  }