// Colore pallets
$primary: #505CFD;
$white: #FFFFFF;
$green: #8ACA2B;
$red: #FF0000;

// RGBA
$blue: rgb(80, 92, 253);


$box-shadow-color: #DCDEFF;
$container-bg: #F8F9F9;

// Card
$card-shadow-color: #DCDEFF;
$card-shadow : 0 2px 10px 0 $card-shadow-color;
$card-border-width-custom : 0px !important;
$card-cap-bg-custom: $white;
$card-hover-bg: rgba($blue,0.15);
$card-header-font-size: 16px